@import 'config',
'menu',
'books',
'form',
'tote',
'orders',
'error',
'responsive';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: $secondary-black;
}

main {
    padding: 1rem;
    margin: auto;
}

form {
    display: inline;
}

.centered {
    text-align: center;
}

.image {
    height: 20rem;
}

.image img {
    height: 100%;
}