<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let book of prods) { %>
                            <%- include('../includes/book-card.ejs', { book: book, isAuthenticated: isAuthenticated }) %>
                        <% } %>
                    </div>
                    <% } else { %>
                        <h2>No Books Found!</h2>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>