<footer class="footer">
    <div class="footer-card">
        <h3 class="footer-card__heading">Contact Info</h3>
        <ul>
            <li class="footer-card__info">(555) 555-0938</li>
            <li class="footer-card__info">RealFakeEmail@gmail.com</li>
            <li class="footer-card__info">1865 Rokesmith Lane</li>
        </ul>
    </div>
    <div class="footer-card">
        <h3 class="footer-card__heading">Weekly Newsletter</h3>
        <div class="newsletter">
            <label for="newsletter"> Your Best Email  </label>
            <input class="footer-card__info" placeholder="Weekly Newsletter">
        </div>
    </div>
    <div class="footer-card">
        <h3 class="footer-card__heading">Test Info</h3>
        <p class="footer-card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptate eaque
            dolorem quaerat ab tempore inventore itaque et, veritatis maxime?</p>
    </div>
</footer>
<script src="/js/main.js"></script>
</body>

</html>