<footer class="footer">
    <div class="footer-card">
        <h3 class="footer-card__heading">Contact Info</h3>
        <ul>
            <li class="footer-card__info">(555) 555-0938</li>
            <li class="footer-card__info">RealFakeEmail@gmail.com</li>
            <li class="footer-card__info">1865 Rokesmith Lane</li>
        </ul>
    </div>
    <div class="footer-card">
        <h3 class="footer-card__heading">Weekly Newsletter</h3>
        <p class="footer-card__info"><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, fugit!</a></p>
    </div>
    <div class="footer-card">
        <h3 class="footer-card__heading">Hours of Operation</h3>
        <p class="footer-card__info"> Sunday: Closed <br/> Monday - Saturday: 7:00am to 11:30pm <br/> Holiday Hours May Vary</p>
    </div>
</footer>
<script src="/js/main.js"></script>
</body>

</html>