@use '../abstracts'as *;

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: $primary-black;
    background: $secondary-white;
    width: 100px;
    height: 42px;
    border: none;
    cursor: pointer;
    box-shadow: inset $secondary-black 1px 1px 0 1px,
        inset $secondary-black -1px -1px 0 1px;
    border-radius: 3px;

    &:hover,
    &:active {
        background-color: $secondary-black;
        color: $primary-white;
    }
}

#login-btn {
    width: 100%;
}

#main-login-btn {
    width: 70px;
}

.btn.danger {
    background: red;
    color: white;
}

.btn.danger:hover,
.btn.danger:active {
    color: red;
    border-color: red;
    background-color: white;
}

.user-message {
    margin: 1rem auto;
    width: 20rem;
    max-width: 90%;
    border: 1px solid #4771fa;
    padding: 0.5rem;
    border-radius: 3px;
    background: #b9c9ff;
    text-align: center;
}

.user-message--error {
    border-color: red;
    background: rgb(255, 176, 176);
    color: red;
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem;
    background: $secondary-white;
    border-radius: 0.5rem;
    width: 70%;
}