@use '../abstracts'as *;

.orders {
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
        padding: 1rem;
        margin-bottom: 1rem;
        background: $secondary-white;
        border-radius: 0.5rem;

        h1 {
            margin: 0;
            font-size: 1rem;
            color: $secondary-black;

            a {
                color: $primary-black;
            }
        }
    }

    &__books {
        list-style: none;
        margin: 0;
        padding: 0;

        &-item {
            margin-top: 0.5rem;
            padding: 0.5rem;
            border: 1px solid $primary-black;
            color: $secondary-black;
            border-radius: 0.5rem;
        }
    }
}