@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font: 'Roboto',
sans-serif;

$primary-color: #7C9473;
$secondary-color: #4D5C47;
$primary-white: #E7D7C1;
$secondary-white: #C7AE91;
$primary-black: #1B150E;
$secondary-black: #362A1B;

$small-font: 0.8rem;
$normal-font: 1rem;
$large-font: 1.2rem;